@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 255 255 255;
		--foreground: var(--color-gray-700);
		--border: var(--color-gray-200);
	}

	.dark {
		--background: var(--color-gray-900);
		--foreground: var(--color-gray-200);
		--border: var(--color-gray-700);
	}
}
@layer base {
	html {
		@apply scrollbar-thin scrollbar-thumb-border scrollbar-thumb-rounded;
	}
	* {
		@apply border-border scrollbar-thin scrollbar-thumb-border scrollbar-thumb-rounded;
	}
	body {
		@apply bg-background text-foreground;
	}
}
